#parker,
#info {
  padding: 100px;
}

.navbar {
  font-weight: 100;
}

/* .hi {
  padding-top: 1rem;
} */

a {
  color: #8437fa;
}

.bg-purple {
  background-color: black !important;
}

.navbar a {
  color: white;
}

body {
  background-color: black;
  color: white;
}

/* Put your style information here! */
/* Put your style information here! */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-evenly;
}

/* Create four equal columns that sits next to each other */
.column {
  max-width: 40%;
  padding: 0 5px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
/* @media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
/* 
#parker-img {
  margin-bottom: 1rem;
} */
